{% extends "base.html" %}
{% block content %}
<div>
    <h2 class="text-center">Employee List</h2>
</div>
<div class="container p-5">
    <div class="shadow col-14 mx-auto p-5">
       <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="table table-bordered">
                <a href="{% url 'addpage' %}" class="btn btn-success">Add</a>
                <ul>
                    {% if messages %}
                    {% for i in messages %}
                        <li class="alert alert-success text-center">{{i}}</li>
                    {% endfor %}
                {% endif %}
                </ul>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Image</th>
                        <th>Join at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in emp %}
                    <tr>
                        <th>{{i.id}}</th>
                        <th>{{i.name}}</th>
                        <th>{{i.email}}</th>
                        <th>{{i.address}}</th>
                        <th>
                           
                            <a href="{{i.profileimg.url}}" target="_blank">
                                <img src="{{i.profileimg.url}}" alt="avatar" width="70px" height="70px" style="object-fit: cover; border-radius: 50%;">
                            </a>
                       
                        </th>
                        <th>{{i.createat}}</th>
                        <th>
                            <div class="d-flex gap-2">
                                <a href="{% url 'updatepage' i.id %}" class="btn btn-success btn-sm">Edit</a>
                                <a href="{% url 'deletepage' i.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       </form>
    </div>
</div>
{% endblock content %}