{% extends "base.html" %}
{% block content %}
<div class="container p-5">
    <h3 class="text-center">Login</h3>
    <div class="col-8 shadow-lg p-5 mx-auto">
        <form action="" method="POST">
            <ul>
                {% if messages %}
                    {% for i in messages %}
                        <li>{{i}}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Login">
            <a href="{% url 'signuppage' %}">Do not have an account?</a>
        </form>
    </div>
</div>
{% endblock content %}